* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #eeeeee;
}

a {
    text-decoration: none;
}

.content_block {
    width: 1219px;
    padding: 0 55px 0 55px;
    margin: 0 auto;
}


/* next block */


.header {
    background: #007765;
    background-size: 100%;
    width: 100%;
    position: fixed;
    padding: 20px 0px;
}

.logo {
    text-align: left;
    padding-bottom: 10px;
}

.logo img {
    width: 184px;
    height: 45px;
}

.menu {
    color: white;
    text-align: right;
    font-size: 24px;
    margin-top: -45px;
}

.menu a {
    color: white;
    padding: 5px;

}

/* next block */


.main_welcome {
    background: url(../img/Jumbotron.png) no-repeat;
    text-align: center;
}

.welcome {
    font-size: 72px;
    color: white;
    padding: 244px 0 160px 0;
}


/* next block */


.main_problem {
    background: #eeeeee;
    color: black;
    padding-bottom: 48px;
}

.heading {
    color: #007765;
    font-size: 64px;
    text-align: center;
    padding: 48px 0 48px 0;
}

.article {
    font-size: 32px;
    text-align: justify;
}


/* next block */


.main_hero {
    background: url(../img/Hero.png) no-repeat;
}

.italic_article {
    font-size: 48px;
    text-align: center;
    padding: 160px;
    color: white;
}

/* next block */

.white {
    background: #ffffff;
}

.ppclogo {
    width: 115px;
    float: left;
    padding: 10px;
    margin-right: 28px;
}

/* next block */

#team {
    text-align: center;
}

.team_card {
    margin: 20px 60px;
    display: inline-block;
}

.team_photo {
    padding: 5px;
}

.team_photo img {
    width: 168px;
}

.team_name {
    font-size: 24px;
    color: #007765;
}

.team_position {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}


/* next block */


.footer {
    background: #333333;
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer_text {
    padding: 50px 340px;
}




@media screen and (max-width: )